{% extends 'base.html.twig' %}

{% block title %}ModelesDeSoin{% endblock %}

{% block body %}
    <h1>ModelesDeSoin</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ modeles_de_soin.id }}</td>
            </tr>
            <tr>
                <th>Modele_de_soin</th>
                <td>{{ modeles_de_soin.modeleDeSoin }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('modeles_de_soin_index') }}">back to list</a>

    <a href="{{ path('modeles_de_soin_edit', {'id': modeles_de_soin.id}) }}">edit</a>

    {{ include('modeles_de_soin/_delete_form.html.twig') }}
{% endblock %}
