{% extends 'base.html.twig' %}

{% block title %}ObjectifsEthiques index{% endblock %}

{% block body %}
    <h1>ObjectifsEthiques index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Objectif_ethique</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for objectifs_ethique in objectifs_ethiques %}
            <tr>
                <td>{{ objectifs_ethique.id }}</td>
                <td>{{ objectifs_ethique.objectifEthique }}</td>
                <td>
                    <a href="{{ path('objectifs_ethiques_show', {'id': objectifs_ethique.id}) }}">show</a>
                    <a href="{{ path('objectifs_ethiques_edit', {'id': objectifs_ethique.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('objectifs_ethiques_new') }}">Create new</a>
{% endblock %}
