{% extends 'base.html.twig' %}

{% block title %}RatingUser index{% endblock %}

{% block body %}
    <h1>RatingUser index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Risque</th>
                <th>Benefice</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for rating_user in rating_users %}
            <tr>
                <td>{{ rating_user.id }}</td>
                <td>{{ rating_user.risque }}</td>
                <td>{{ rating_user.benefice }}</td>
                <td>
                    <a href="{{ path('rating_user_show', {'id': rating_user.id}) }}">show</a>
                    <a href="{{ path('rating_user_edit', {'id': rating_user.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('rating_user_new') }}">Create new</a>
{% endblock %}
