{% extends 'base.html.twig' %}

{% block title %}Commentaire{% endblock %}

{% block body %}
    <h1>Commentaire</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ commentaire.id }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ commentaire.description }}</td>
            </tr>
            <tr>
                <th>Flag_solution</th>
                <td>{{ commentaire.flagSolution ? 'Yes' : 'No' }}</td>
            </tr>
            <tr>
                <th>Moyenne_benefice</th>
                <td>{{ commentaire.moyenneBenefice }}</td>
            </tr>
            <tr>
                <th>Moyenne_risque</th>
                <td>{{ commentaire.moyenneRisque }}</td>
            </tr>
            <tr>
                <th>Objectif_de_soins</th>
                <td>{{ commentaire.objectifDeSoins }}</td>
            </tr>
            <tr>
                <th>Objectif_ethiques</th>
                <td>{{ commentaire.objectifEthiques }}</td>
            </tr>
            <tr>
                <th>Modeles_de_soins</th>
                <td>{{ commentaire.modelesDeSoins }}</td>
            </tr>
            <tr>
                <th>Contectes_de_soin</th>
                <td>{{ commentaire.contectesDeSoin }}</td>
            </tr>
            <tr>
                <th>Methode_evaluation</th>
                <td>{{ commentaire.methodeEvaluation }}</td>
            </tr>
            <tr>
                <th>Date_mise_en_ligne</th>
                <td>{{ commentaire.dateMiseEnLigne ? commentaire.dateMiseEnLigne|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('commentaire_index') }}">back to list</a>

    <a href="{{ path('commentaire_edit', {'id': commentaire.id}) }}">edit</a>

    {{ include('commentaire/_delete_form.html.twig') }}
{% endblock %}
