{% extends 'base.html.twig' %}

{% block title %}ModelesDeSoins index{% endblock %}

{% block body %}
    <h1>ModelesDeSoins index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Modele_de_soin</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for modeles_de_soin in modeles_de_soins %}
            <tr>
                <td>{{ modeles_de_soin.id }}</td>
                <td>{{ modeles_de_soin.modeleDeSoin }}</td>
                <td>
                    <a href="{{ path('modeles_de_soins_show', {'id': modeles_de_soin.id}) }}">show</a>
                    <a href="{{ path('modeles_de_soins_edit', {'id': modeles_de_soin.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('modeles_de_soins_new') }}">Create new</a>
{% endblock %}
