{% extends 'base.html.twig' %}

{% block title %}Professionel{% endblock %}

{% block body %}
    <h1>Professionel</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ professionel.id }}</td>
            </tr>
            <tr>
                <th>Verifier</th>
                <td>{{ professionel.verifier ? 'Yes' : 'No' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('professionel_index') }}">back to list</a>

    <a href="{{ path('professionel_edit', {'id': professionel.id}) }}">edit</a>

    {{ include('professionel/_delete_form.html.twig') }}
{% endblock %}
